/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link-details {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header { text-align: center;
  }

}

.page-content {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-new-task-container__tap-and-add {
  display: flex;
}

/* последующая стилизация (ul, li, h3, input, button) считается намеренным сбросом дефолтных стилей(согласно руковолству),
 поэтому оставляю стилизацию по тегам*/
ul { 
  margin: 0;
  padding: 0px;
}

li, 
h3 {
  list-style: none;
}

input,
button{
  outline: none;
}

.add-new-task-container__add-btn,
.incomplete-task-list-container__items__item__edit-btn,
.incomplete-task-list-container__items__item__delete-btn,
.completed-task-list-container__items__item__edit-btn,
.completed-task-list-container__items__item__delete-btn,
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.add-new-task-container__add-btn:hover,
.incomplete-task-list-container__items__item__edit-btn:hover,
.incomplete-task-list-container__items__item__delete-btn:hover,
.completed-task-list-container__items__item__edit-btn:hover,
.completed-task-list-container__items__item__delete-btn:hover {
  color: #3a3a3a;
}

/* Heading */
.incomplete-task-list-container__title,
.completed-task-list-container__title,
.add-new-task-container__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
/* последующая стилизация (input) считается намеренным сбросом дефолтных стилей(согласно руковолству),
 поэтому оставляю стилизацию по тегам*/
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}

/* New Task */
.add-new-task-container__title {
  display: block;
  margin: 0 0 20px;
}

.add-new-task-container__input {
  width: 318px;
}

/* Task list */
.incomplete-task-list-container__items__item,
.completed-task-list-container__items__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incomplete-task-list-container__items__item > *,
.completed-task-list-container__items__item > * {
  vertical-align: middle;
}

.incomplete-task-list-container__items__item__check-place,
.completed-task-list-container__items__item__check-place {
  margin: 0 10px;
}

.incomplete-task-list-container__items__item__content,
.completed-task-list-container__items__item__content {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.completed-task-list-container__items__item__to-edit-form,
.incomplete-task-list-container__items__item__to-edit-form {
  width: 226px;
}
/* обращение к кнопкам не по БЭМ селекторам важно для работоспособности js */
button.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

button.delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-task-list-container__items__item__content {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.completed-task-list-container__items__item__to-edit-form,
.incomplete-task-list-container__items__item__to-edit-form {
  display: none;
}

ul li.edit-mode input[type= "text"] {
  display: inline-block;
  width: 224px;
}

.edit-mode label {
  display: none;
}